/* Reset some default styles */
body, h1, p, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px; /* Increased padding for more space */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add blue borders to the sides */
    border-left: 10px solid #007BFF;
    border-right: 10px solid #007BFF;
}

h1 {
    text-align: center;
    color: #007BFF;
}

#word-display {
    font-size: 1.5em;
    margin: 20px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 20px;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 8px; /* Adjusted border-radius */
}

#turn-indicator, #guessed-letters {
    margin-top: 20px;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 8px; /* Adjusted border-radius */
}

#timer {
    margin-top: 10px;
    font-size: 1.2em;
}

#game-message {
    margin-top: 10px;
    font-weight: bold;
    color: #007BFF;
}

#correct-guess-message {
    margin-top: 10px;
    color: #28a745;
}
